{% load compile_static %}
{% load static %}

<html class="mdc-typography">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>{{title_page}}</title>

    <!--Include default material and touchsupport, this include JQuery too-->
    {% include "radiant/mdc.html" with scripts=False %}
    <script src="{% static "/radiant/scripts/mdc_exported.coffee"|compile %}"></script>

  </head>
  {% csrf_token %}
  <body>
    {{code|safe}}
  </body>
</html>

